# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Local SQLite database (if any)
*.db
